
html {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    min-width: 100%;
    background-color:black;
    margin: 0;
    padding: 0;
}
.intro {
    grid-column: 2 / span 7; 
    grid-row:  4;
    font-size: 30px;
    height: 55%;
}


p {
    color: white;
}
.about {
    grid-column: 2 / span 7;
    grid-row: 17;
    font-size: 30px;
}

body {
    overflow-x:hidden;
    min-width: 100%;
    min-height:100%;
    z-index: 4;
    display:grid;
   color: white;
}
.menu {
    margin: auto; 

}

button:focus {
}
.menu button {
    outline: none;
    display: inline-block; 
    width: 300px; 
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 20px; 
    background-color: black; 
    color: white; 
    border: none; 
    padding: 20px;
    
}

.menu button:hover{
    background-color: #313131;
}
.header {
}
head {
    position: relative; 
    display:grid;
}
.grid {
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%; 
    margin: 0;
    padding: 0;
    position: relative;
    display:grid; 
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(30, 100px);

}

}
}
#a {
    grid-column:4;
}

#b{
    grid-column:5;
}
#c{
    grid-column:6;
}
#d{
    grid-column:7;
}

#bg-img {
    position: absolute;
    z-index: -1;
    background-image: url("https://github.com/loriencho/pangolins/blob/master/pangolin-background.png?raw=true"); 
    background-attachment: fixed; 
    background-size: cover;
    background-repeat: no-repeat ;
    max-height: 28%; 
    max-width: 100%;
  

}
#bg-img2 {
    position: absolute;
    z-index: -1;
    background-image: url("https://github.com/loriencho/pangolins/blob/27f5e613840409f190ebc0c7e460cdbd8171538d/second%20background.png?raw=true"); 
    background-attachment: fixed; 
    background-size: cover;
    background-repeat: no-repeat ;
    max-height: 30%; 
    top: 45%; 
    max-width: 100%;
  

}
#buttonTop:hover{
    color:#c9c9c9;

}
#buttonTop {
    transition: color 1s;
    cursor: pointer;
    right:1%;
    z-index:10;
    display: none;
    position:fixed;
    top: 95%;
    text-align: center; 
    font-size: 30px;
    font-family:  'M PLUS Rounded 1c', sans-serif;
    color: white; 
    background: transparent; 
   
    
}
 html {
    scroll-behavior: smooth; 
}