
html {
    font-family: 'M Plus Rounded 1c', serif;
    min-width: 100%;
    background-color:black;
    margin: 0;
    padding: 0;
}
#intro {
    grid-column: 2 / span 7; 
    grid-row:  2;
    font-size: 2em;
    height: 55%;}


p {
    color: white;
}
#about {
    grid-column: 2 / span 8;
    grid-row: 14;
    font-size: 2vw;
}
#poaching {
    grid-column: 2 / span 8;
    grid-row: 25;
    font-size: 2em;
    
}

body {
    overflow-x:hidden;
    min-width: 100%;
    min-height:100%;
    z-index: 4;
    display:grid;
   color: white;
}
.menu {
    justify-content: center; 
    height: 20%; 



}

.menu button {
    transition: letter-spacing .1s; 
    outline: none;
    display: inline-block; 
    width: 17.4%; 
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 1.3em; 
    background-color: black; 
    color: white; 
    border: none; 
    padding: 20px;

    
}

#a {
    margin-left: 15%;
}

.menu button:hover {
    letter-spacing: 3px; 
    background-color: #272727;
}
.header {
}
head {
    position: relative; 
    display:grid;
}
.grid {
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%; 
    margin: 0;
    padding: 0;
    position: relative;
    display:grid; 
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(70, 100px);

}




#bgimg {
    opacity: .6;

    position: absolute;
    z-index: -1;
    background-image: url("https://github.com/loriencho/pangolins/blob/master/firstbg.jpg?raw=true"); 
    background-image: url("https://github.com/loriencho/pangolins/blob/master/firstbg.jpg?raw=true"); 
    background-attachment: fixed; 
    background-size: cover;
    background-repeat: no-repeat ;
    max-height: 12%; 
    max-width: 100%;
  

}

 #bgimg:hover, {
    
    transform: scale(3)
    
}
#bgimg2 {
    position: absolute;
    z-index: -1;
    background-image: url("https://raw.githubusercontent.com/loriencho/pangolins/06a96438486dbbddfceff3b96def7525e701352f/baby-pangolin-Christian-Boix.jpg "); 
    background-attachment: fixed; 
    background-size: cover;
    background-repeat: no-repeat ;
    max-height: 12%; 
    top: 16%; 
    max-width: 100%;
  

}

#bgimg3{
    opacity: .6;
    position: absolute;
    z-index: -1;
    background-image: url(" https://github.com/loriencho/pangolins/blob/master/pangolin%203rd%20background.jpg?raw=true"); 
    background-attachment: fixed; 
    background-size: cover;
    background-repeat: no-repeat ;
    max-height: 12%; 
    top: 32%; 
    max-width: 100%;
}
backgroumd-image:hover{
    opacity: 1; 
    top: 94.8%; 
}
#buttonTop {
    opacity: .9; 
    transition: opacity 1s;
    transition: top .1s;
    

    background-image: url("http://www.millenniumbulk.com/wp-content/uploads/revslider/world-map/white-triangle.png");
    cursor: pointer;
    z-index:10;
    right: 1%; 
    display: none;
    position:fixed;
    top: 95%;
    height: 40px; 
    width: 156px; 
    text-align: center; 
    font-size: 30px;
    
   
    
}
 html {
    scroll-behavior: smooth; 
}