
html {
    font-family: 'M Plus Rounded 1c', serif;
    min-width: 100%;
    background-color:black;
    margin: 0;
    padding: 0;
}
#intro {
    grid-column: 2 / span 7; 
    grid-row:  4;
    font-size: 30px;
    height: 55%;}
    transition: opacity 4s; 


p {
    color: white;
}
#about {
    grid-column: 2 / span 7;
    grid-row: 17;
    opacity: transparent; 
    font-size: 30px;
}

body {
    overflow-x:hidden;
    min-width: 100%;
    min-height:100%;
    z-index: 4;
    display:grid;
   color: white;
}
.menu {
    justify-content: center; 
    margin: auto;

}

.menu button {
    transition: letter-spacing .1s; 
    outline: none;
    display: inline-block; 
    width: 300px; 
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 20px; 
    background-color: black; 
    color: white; 
    border: none; 
    padding: 20px;
    
}

.menu button:hover {
    letter-spacing: 3px; 
    background-color: #313131;
}
.header {
}
head {
    position: relative; 
    display:grid;
}
.grid {
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%; 
    margin: 0;
    padding: 0;
    position: relative;
    display:grid; 
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(30, 100px);

}

}
}
#a {
    grid-column:4;
}

#b{
    grid-column:5;
}
#c{
    grid-column:6;
}
#d{
    grid-column:7;
}

#bgimg {
    opacity: .6;
    position: absolute;
    z-index: -1;
    background-image: url("https://github.com/loriencho/pangolins/blob/master/firstbg.jpg?raw=true"); 
    background-image: url("https://github.com/loriencho/pangolins/blob/master/firstbg.jpg?raw=true"); 
    background-attachment: fixed; 
    background-size: cover;
    background-repeat: no-repeat ;
    max-height: 28%; 
    max-width: 100%;
  

}
#bgimg2 {
    position: absolute;
    z-index: -1;
    background-image: url("https://raw.githubusercontent.com/loriencho/pangolins/06a96438486dbbddfceff3b96def7525e701352f/baby-pangolin-Christian-Boix.jpg "); 
    background-attachment: fixed; 
    background-size: cover;
    background-repeat: no-repeat ;
    max-height: 30%; 
    top: 45%; 
    max-width: 100%;
  

}
#buttonTop:hover{
    opacity: 1; 
    top: 94.8%; 
}
#buttonTop {
    opacity: .9; 
    transition: opacity 1s;
    transition: top .1s;
    

    background-image: url("http://www.millenniumbulk.com/wp-content/uploads/revslider/world-map/white-triangle.png");
    cursor: pointer;
    z-index:10;
    right: 1%; 
    display: none;
    position:fixed;
    top: 95%;
    height: 40px; 
    width: 156px; 
    text-align: center; 
    font-size: 30px;
    
   
    
}
 html {
    scroll-behavior: smooth; 
}