
html {
    font-family: 'M Plus Rounded 1c', serif;
    min-width: 100%;
    background-color:black;
    margin: 0;
    padding: 0;
}
#intro {
    grid-column: 2 / span 7; 
    grid-row:  2;
    font-size: 2vw;
    height: 55%;}


p {
    color: white;
}
#about {
    grid-column: 2 / span 8;
    grid-row: 14;
    font-size: 2vw;
}
#poaching {
    grid-column: 2 / span 8;
    grid-row: 25;
    font-size: 2vw;
    
}

#behavior {
    grid-column: 2 /span 8;
    grid-row: 36;
    font-size: 2vw;
}
#diet {
    grid-column: 2 /span 8;
    grid-row: 47;
    font-size: 2vw;
}

body {
    cursor: default;
    overflow-x:hidden;
    min-width: 100%;
    min-height:100%;
    z-index: 4;
    display:grid;
   color: white;
}
.menu {
    justify-content: center; 
    height: 20%; 



}

.menu button {

    transition: letter-spacing .1s; 
    outline: none;
    display: inline-block; 
    width: 17.4%; 
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 1.3em; 
    background-color: black; 
    color: white; 
    border: none; 
    padding: 20px;

    
}

#a {
    margin-left: 15%;
}

.menu button:hover {
    letter-spacing: 3px; 
    background-color: #272727;
}
.header {
}
head {
    position: relative; 
    display:grid;
}
.grid {
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%; 
    margin: 0;
    padding: 0;
    position: relative;
    display:grid; 
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(38, 100px);

}




#bgimg {
    opacity: .6;

    position: absolute;
    z-index: -1;
    background-image: url("https://github.com/loriencho/pangolins/blob/master/firstbg.jpg?raw=true"); 
    background-image: url("https://github.com/loriencho/pangolins/blob/master/firstbg.jpg?raw=true"); 
    background-attachment: fixed; 
    background-size: cover;
    background-repeat: no-repeat ;
    max-height: 20%; 
    max-width: 100%;
  

}


#bgimg2 {
    position: absolute;
    z-index: -1;
    background-image: url("https://raw.githubusercontent.com/loriencho/pangolins/06a96438486dbbddfceff3b96def7525e701352f/baby-pangolin-Christian-Boix.jpg "); 
    background-attachment: fixed; 
    background-size: cover;
    background-repeat: no-repeat ;
    max-height: 20%; 
    top: 26%; 
    max-width: 100%;
  

}

#bgimg3{
    position: absolute;
    z-index: -1;
    background-image: url(" https://github.com/loriencho/pangolins/blob/master/pangolin%203rd%20background.jpg?raw=true"); 
    background-attachment: fixed; 
    background-size: cover;
    background-repeat: no-repeat ;
    max-height: 20%; 
    top: 52%; 
    max-width: 100%;
}

#bgimg4{
    position: absolute;
    z-index: -1;
    background-image: url("https://github.com/loriencho/pangolins/blob/master/pangolin4.png?raw=true"); 
    background-attachment: fixed; 
    background-size: cover;
    background-repeat: no-repeat ;
    max-height: 20%; 
    top: 78%; 
    max-width: 100%;
}


#bgimg5{
    background-image: url("https://github.com/loriencho/pangolins/blob/d8db1d9a250f7f08215ef108e04eced0ac5d601a/pangolin5.jpg?raw=true");
    background-attachment: fixed; 
    background-size: cover;
    background-repeat: no-repeat ;
    max-height: 20%; 
    top: 100%; 
    max-width: 100%;
     position: absolute;
    z-index: -1;
}

#buttonTop {
    opacity: .5; 
    transition: opacity 1s;
    background-image: url("http://www.millenniumbulk.com/wp-content/uploads/revslider/world-map/white-triangle.png");
    cursor: pointer;
    right: 1%; 
    position:fixed;
    top: 95%;
    height: 35px; 
    width: 50px; 
    background-size: cover;
   
    
}
#buttonTop:hover {
    opacity: .7;
}


#buttonQuestion {
    right: 96%;
    opacity: .6;
    position: fixed;
    transition: opacity 1s;
    top: 94%;
    background-image: url("https://github.com/loriencho/pangolins/blob/master/questionmarkicon.png?raw=true");
    background-size: cover;
    height: 40px;
    width: 40px;
   
}
#buttonQuestion:hover{
    opacity: .8;
    
}

#info {
    background-color: black;
    opacity: 0;
    position: fixed; 

    z-index: -1;
    top: 88%;
    left: -10vw;
    font-size: 12px;
    width: 13vw;
    left : -13w;
    border-radius: 13px;
    text-align: center;
    transition: left 1s; 

}

 html {
    scroll-behavior: smooth; 
}